.user-list-pagination {
  display: flex ;
  justify-content: center ;
  font-size: 18px ;
  border-radius: 5px; 
  font-weight: 400;
  align-items: center;
  margin-top: 10px;
  margin-left: 220px;
}
.pagination{
  margin: 0px;
  border: 1px solid rgb(169, 169, 169 , 0.1);;
  background-color: rgb(228 228 228 / 38%);
  border-radius: 5px;
}
.pagination>.active>a, .pagination>.active>a:hover {
  z-index: 3 ;
  color: rgb(255, 255, 255) ;
  cursor: default ;
  background-color: rgba(43, 41, 41 , 0.6);
  border-radius: 2px; 
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left ;
  color: rgba(0, 0, 0, 0.816) ;
  text-decoration: none ;
  padding: 1px 6px;
}
@media screen and (max-width: 550px) {
  .user-list-pagination {
    margin-left: 0px;
  }
}